In [14]:
import pandas as pd

In [15]:
# csv obtained from https://ourworldindata.org/crop-yields
df_yield_base = pd.read_csv("crop_yields.csv")

df_yield_base.sample(5)

,country,year,abaca__manila_hemp__raw_yield,agave_fibres__raw__n_e_c__yield,almond_yield,apples_yield,apricots_yield,areca_nuts_yield,artichokes_yield,asparagus_yield,...,potato_yield_gap,rapeseed_yield_gap,rice_yield_gap,rye_yield_gap,sorghum_yield_gap,soybean_yield_gap,sugarbeet_yield_gap,sugarcane_yield_gap,sunflower_yield_gap,wheat_yield_gap
8896,Netherlands,1987,NaN,NaN,NaN,21.519000,NaN,NaN,NaN,NaN,...,4.240902,0.2793,NaN,2.0045,NaN,NaN,17.741299,NaN,NaN,1.5641
3458,Dominican Republic,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12543,Switzerland,1967,NaN,NaN,NaN,173.652700,NaN,NaN,NaN,NaN,...,17.170002,0.8856,NaN,2.2535,NaN,NaN,20.941803,NaN,NaN,4.0543
9540,Northern America (FAO),1980,NaN,NaN,1.8137,20.728400,11.4807,NaN,11.4411,2.2263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2456,Chile,2017,NaN,NaN,4.3901,47.900898,7.9294,NaN,7.6290,5.5703,...,9.533800,0.0000,2.9328,0.2870,NaN,NaN,0.000000,NaN,0.6311,0.0000

In [16]:
# Separate countries
df_countries = df_yield_base["country"]
df_countries

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
14572       Zimbabwe
14573       Zimbabwe
14574       Zimbabwe
14575       Zimbabwe
14576       Zimbabwe
Name: country, Length: 14577, dtype: object

In [17]:
# Separate years
df_years = df_yield_base["year"]
df_years

0        1961
1        1962
2        1963
3        1964
4        1965
         ...
14572    2018
14573    2019
14574    2020
14575    2021
14576    2022
Name: year, Length: 14577, dtype: int64

In [18]:
# Keep only columns ending with _yield
df_crops = df_yield_base.filter(regex="(yield)$")
# Filter out raw_yield and n_e_c yield
df_crops_nonyield = df_crops.filter(regex="(raw_yield)|(n_e_c)|(attainable_yield)")
df_crops = df_crops.drop(columns = df_crops_nonyield.columns)

# Re-add year and country
df_crops["year"] = df_years
df_crops["country"] = df_countries

df_crops

,almond_yield,apples_yield,apricots_yield,areca_nuts_yield,artichokes_yield,asparagus_yield,avocados_yield,bambara_beans__dry_yield,banana_yield,barley_yield,...,tung_nuts_yield,vegetables_yield,vetches_yield,walnuts_yield,watermelons_yield,wheat_yield,yams_yield,yautia_yield,year,country
0,NaN,6.8018,6.6390,NaN,NaN,NaN,NaN,NaN,NaN,1.0800,...,NaN,4.2402,NaN,NaN,4.8462,1.0220,NaN,NaN,1961,Afghanistan
1,NaN,6.8018,6.6390,NaN,NaN,NaN,NaN,NaN,NaN,1.0800,...,NaN,4.4585,NaN,NaN,4.8462,0.9735,NaN,NaN,1962,Afghanistan
2,NaN,6.8018,6.6390,NaN,NaN,NaN,NaN,NaN,NaN,1.0800,...,NaN,4.7249,NaN,NaN,5.1385,0.8317,NaN,NaN,1963,Afghanistan
3,NaN,7.8298,7.6863,NaN,NaN,NaN,NaN,NaN,NaN,1.0857,...,NaN,4.6526,NaN,NaN,5.4308,0.9510,NaN,NaN,1964,Afghanistan
4,NaN,8.2258,8.0819,NaN,NaN,NaN,NaN,NaN,NaN,1.0857,...,NaN,4.4856,NaN,NaN,5.5769,0.9723,NaN,NaN,1965,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14572,NaN,8.9243,1.9777,NaN,13.023999,4.0152,5.7944,0.2440,7.528800,5.4602,...,NaN,6.6518,NaN,NaN,NaN,2.7178,NaN,NaN,2018,Zimbabwe
14573,NaN,8.9199,1.9832,NaN,12.873700,4.1016,5.8191,0.2271,7.873500,5.4715,...,NaN,6.4830,NaN,NaN,NaN,3.9149,NaN,NaN,2019,Zimbabwe
14574,NaN,8.9063,1.9938,NaN,12.456100,4.0474,5.8321,0.2300,8.086699,5.4709,...,NaN,6.5628,NaN,NaN,NaN,4.7796,NaN,NaN,2020,Zimbabwe
14575,NaN,8.8972,1.9892,NaN,12.780200,4.0843,5.8240,0.2250,8.290000,5.4767,...,NaN,6.6126,NaN,NaN,NaN,5.0759,NaN,NaN,2021,Zimbabwe
14576,NaN,8.8882,1.9846,NaN,12.700700,4.1064,5.9083,0.2256,8.493400,5.4825,...,NaN,6.5856,NaN,NaN,NaN,5.1680,NaN,NaN,2022,Zimbabwe

In [19]:
saveCsv = False
df_crops_melted = df_crops.melt(id_vars=["country", "year"], var_name="crop", value_name="yield")
# df_crops_melted["crop"].apply(lambda x: x[:-6])

if saveCsv:
    df_crops_melted.to_csv("../crop_yields_melted.csv")

df_crops_melted

             country  year          crop  yield
0        Afghanistan  1961  almond_yield    NaN
1        Afghanistan  1962  almond_yield    NaN
2        Afghanistan  1963  almond_yield    NaN
3        Afghanistan  1964  almond_yield    NaN
4        Afghanistan  1965  almond_yield    NaN
...              ...   ...           ...    ...
2171968     Zimbabwe  2018  yautia_yield    NaN
2171969     Zimbabwe  2019  yautia_yield    NaN
2171970     Zimbabwe  2020  yautia_yield    NaN
2171971     Zimbabwe  2021  yautia_yield    NaN
2171972     Zimbabwe  2022  yautia_yield    NaN

[2171973 rows x 4 columns]

# SQL Insert statements

In [49]:
sql_statements = []

# Unique countries
unique_countries = df_crops_melted["country"].unique()
sql_statements.append("INSERT INTO countries (id, name) VALUES")
for (idx, name) in enumerate(unique_countries):
    # stupid french with their apostrophes (alsof 's Hertogenbosch niet bestaat :) )
    if "'" in name:
        name = str.replace(name, "'", "''")
    # Don't add comma to end if at last entry
    if idx + 1 == len(unique_countries):
        sql_statements.append(f"({idx+1},  \"{name}\")")    
    else:
        sql_statements.append(f"({idx+1},  \"{name}\"),")

# Unique years
unique_years = df_crops_melted["year"].unique()
sql_statements.append("INSERT INTO year (id, value) VALUES")
for (idx, value) in enumerate(unique_years):
    # Don't add comma to end if at last entry
    if idx + 1 == len(unique_years):
        sql_statements.append(f"({idx+1}, {value})")
    else:
        sql_statements.append(f"({idx+1}, {value}),")

# Unique crops
unique_crops = pd.Series(df_crops_melted["crop"].unique())
# Remove _yield at end for each crop
unique_crops = [crop[:-6]for crop in unique_crops]
# Remove trailing _ for some crops
unique_crops = [crop[:-1] if crop[-1] == "_" else crop for crop in unique_crops]
sql_statements.append("INSERT INTO crop (id, name)")
for (idx, name) in enumerate(unique_crops):
    sql_statements.append(f"({idx+1}, \"{name}\"),")
    # Don't add comma to end if at last entry
    if idx + 1 == len(unique_crops):
        sql_statements.append(f"({idx+1},  \"{name}\")")
    else:
        sql_statements.append(f"({idx+1},  \"{name}\"),")

# Crop yields (harder)

sql_statements.append(";")
sql_statements

['INSERT INTO countries (id, name) VALUES',
 '(1,  "Afghanistan"),',
 '(2,  "Africa"),',
 '(3,  "Africa (FAO)"),',
 '(4,  "Albania"),',
 '(5,  "Algeria"),',
 '(6,  "Americas (FAO)"),',
 '(7,  "Angola"),',
 '(8,  "Antigua and Barbuda"),',
 '(9,  "Argentina"),',
 '(10,  "Armenia"),',
 '(11,  "Asia"),',
 '(12,  "Asia (FAO)"),',
 '(13,  "Australia"),',
 '(14,  "Austria"),',
 '(15,  "Azerbaijan"),',
 '(16,  "Bahamas"),',
 '(17,  "Bahrain"),',
 '(18,  "Bangladesh"),',
 '(19,  "Barbados"),',
 '(20,  "Belarus"),',
 '(21,  "Belgium"),',
 '(22,  "Belgium-Luxembourg (FAO)"),',
 '(23,  "Belize"),',
 '(24,  "Benin"),',
 '(25,  "Bhutan"),',
 '(26,  "Bolivia"),',
 '(27,  "Bosnia and Herzegovina"),',
 '(28,  "Botswana"),',
 '(29,  "Brazil"),',
 '(30,  "Brunei"),',
 '(31,  "Bulgaria"),',
 '(32,  "Burkina Faso"),',
 '(33,  "Burundi"),',
 '(34,  "Cambodia"),',
 '(35,  "Cameroon"),',
 '(36,  "Canada"),',
 '(37,  "Cape Verde"),',
 '(38,  "Caribbean (FAO)"),',
 '(39,  "Central African Republic"),',
 '(40,  "Central America (FAO)"),',
 '(41,  "Central Asia (FAO)"),',
 '(42,  "Chad"),',
 '(43,  "Chile"),',
 '(44,  "China"),',
 '(45,  "China (FAO)"),',
 '(46,  "Colombia"),',
 '(47,  "Comoros"),',
 '(48,  "Congo"),',
 '(49,  "Cook Islands"),',
 '(50,  "Costa Rica"),',
 '(51,  "Cote d\'\'Ivoire"),',
 '(52,  "Croatia"),',
 '(53,  "Cuba"),',
 '(54,  "Cyprus"),',
 '(55,  "Czechia"),',
 '(56,  "Czechoslovakia"),',
 '(57,  "Democratic Republic of Congo"),',
 '(58,  "Denmark"),',
 '(59,  "Djibouti"),',
 '(60,  "Dominica"),',
 '(61,  "Dominican Republic"),',
 '(62,  "East Timor"),',
 '(63,  "Eastern Africa (FAO)"),',
 '(64,  "Eastern Asia (FAO)"),',
 '(65,  "Eastern Europe (FAO)"),',
 '(66,  "Ecuador"),',
 '(67,  "Egypt"),',
 '(68,  "El Salvador"),',
 '(69,  "Equatorial Guinea"),',
 '(70,  "Eritrea"),',
 '(71,  "Estonia"),',
 '(72,  "Eswatini"),',
 '(73,  "Ethiopia"),',
 '(74,  "Ethiopia (former)"),',
 '(75,  "Europe"),',
 '(76,  "Europe (FAO)"),',
 '(77,  "European Union (27)"),',
 '(78,  "European Union (27) (FAO)"),',
 '(79,  "Faroe Islands"),',
 '(80,  "Fiji"),',
 '(81,  "Finland"),',
 '(82,  "France"),',
 '(83,  "French Guiana"),',
 '(84,  "French Polynesia"),',
 '(85,  "Gabon"),',
 '(86,  "Gambia"),',
 '(87,  "Georgia"),',
 '(88,  "Germany"),',
 '(89,  "Ghana"),',
 '(90,  "Greece"),',
 '(91,  "Grenada"),',
 '(92,  "Guadeloupe"),',
 '(93,  "Guatemala"),',
 '(94,  "Guinea"),',
 '(95,  "Guinea-Bissau"),',
 '(96,  "Guyana"),',
 '(97,  "Haiti"),',
 '(98,  "High-income countries"),',
 '(99,  "Honduras"),',
 '(100,  "Hong Kong"),',
 '(101,  "Hungary"),',
 '(102,  "Iceland"),',
 '(103,  "India"),',
 '(104,  "Indonesia"),',
 '(105,  "Iran"),',
 '(106,  "Iraq"),',
 '(107,  "Ireland"),',
 '(108,  "Israel"),',
 '(109,  "Italy"),',
 '(110,  "Jamaica"),',
 '(111,  "Japan"),',
 '(112,  "Jordan"),',
 '(113,  "Kazakhstan"),',
 '(114,  "Kenya"),',
 '(115,  "Kiribati"),',
 '(116,  "Kuwait"),',
 '(117,  "Kyrgyzstan"),',
 '(118,  "Land Locked Developing Countries (FAO)"),',
 '(119,  "Laos"),',
 '(120,  "Latvia"),',
 '(121,  "Least Developed Countries (FAO)"),',
 '(122,  "Lebanon"),',
 '(123,  "Lesotho"),',
 '(124,  "Liberia"),',
 '(125,  "Libya"),',
 '(126,  "Lithuania"),',
 '(127,  "Low Income Food Deficit Countries (FAO)"),',
 '(128,  "Low-income countries"),',
 '(129,  "Lower-middle-income countries"),',
 '(130,  "Luxembourg"),',
 '(131,  "Macao"),',
 '(132,  "Madagascar"),',
 '(133,  "Malawi"),',
 '(134,  "Malaysia"),',
 '(135,  "Maldives"),',
 '(136,  "Mali"),',
 '(137,  "Malta"),',
 '(138,  "Marshall Islands"),',
 '(139,  "Martinique"),',
 '(140,  "Mauritania"),',
 '(141,  "Mauritius"),',
 '(142,  "Melanesia"),',
 '(143,  "Mexico"),',
 '(144,  "Micronesia (FAO)"),',
 '(145,  "Micronesia (country)"),',
 '(146,  "Middle Africa (FAO)"),',
 '(147,  "Moldova"),',
 '(148,  "Mongolia"),',
 '(149,  "Montenegro"),',
 '(150,  "Morocco"),',
 '(151,  "Mozambique"),',
 '(152,  "Myanmar"),',
 '(153,  "Namibia"),',
 '(154,  "Nauru"),',
 '(155,  "Nepal"),',
 '(156,  "Net Food Importing Developing Countries (FAO)"),',
 '(157,  "Netherlands"),',
 '(158,  "New Caledonia"),',
 '(159,  "New Zealand"),',
 '(160,  "Nicaragua"),',
 '(161,  "Niger"),',
 '(162,  "Nigeria"),',
 '(163,  "Niue"),',
 '(164,  "North America"),',
 '(165,  "North Korea"),',
 '(166,  "North Macedonia"),',
 '(167,  "Northern Africa (FAO)"),',
 '(168,  "Northern America (FAO)"),',
 '(169,  "Northern Europe (FAO)"),',
 '(170,  "Norway"),',
 '(171,  "Oceania"),',
 '(172,  "Oceania (FAO)"),',
 '(173,  "Oman"),',
 '(174,  "Pakistan"),',
 '(175,  "Palestine"),',
 '(176,  "Panama"),',
 '(177,  "Papua New Guinea"),',
 '(178,  "Paraguay"),',
 '(179,  "Peru"),',
 '(180,  "Philippines"),',
 '(181,  "Poland"),',
 '(182,  "Polynesia"),',
 '(183,  "Portugal"),',
 '(184,  "Puerto Rico"),',
 '(185,  "Qatar"),',
 '(186,  "Reunion"),',
 '(187,  "Romania"),',
 '(188,  "Russia"),',
 '(189,  "Rwanda"),',
 '(190,  "Saint Kitts and Nevis"),',
 '(191,  "Saint Lucia"),',
 '(192,  "Saint Vincent and the Grenadines"),',
 '(193,  "Samoa"),',
 '(194,  "Sao Tome and Principe"),',
 '(195,  "Saudi Arabia"),',
 '(196,  "Senegal"),',
 '(197,  "Serbia"),',
 '(198,  "Serbia and Montenegro"),',
 '(199,  "Seychelles"),',
 '(200,  "Sierra Leone"),',
 '(201,  "Singapore"),',
 '(202,  "Slovakia"),',
 '(203,  "Slovenia"),',
 '(204,  "Small Island Developing States (FAO)"),',
 '(205,  "Solomon Islands"),',
 '(206,  "Somalia"),',
 '(207,  "South Africa"),',
 '(208,  "South America"),',
 '(209,  "South America (FAO)"),',
 '(210,  "South Korea"),',
 '(211,  "South Sudan"),',
 '(212,  "South-eastern Asia (FAO)"),',
 '(213,  "Southern Africa (FAO)"),',
 '(214,  "Southern Asia (FAO)"),',
 '(215,  "Southern Europe (FAO)"),',
 '(216,  "Spain"),',
 '(217,  "Sri Lanka"),',
 '(218,  "Sudan"),',
 '(219,  "Sudan (former)"),',
 '(220,  "Suriname"),',
 '(221,  "Sweden"),',
 '(222,  "Switzerland"),',
 '(223,  "Syria"),',
 '(224,  "Taiwan"),',
 '(225,  "Tajikistan"),',
 '(226,  "Tanzania"),',
 '(227,  "Thailand"),',
 '(228,  "Togo"),',
 '(229,  "Tokelau"),',
 '(230,  "Tonga"),',
 '(231,  "Trinidad and Tobago"),',
 '(232,  "Tunisia"),',
 '(233,  "Turkey"),',
 '(234,  "Turkmenistan"),',
 '(235,  "Tuvalu"),',
 '(236,  "USSR"),',
 '(237,  "Uganda"),',
 '(238,  "Ukraine"),',
 '(239,  "United Arab Emirates"),',
 '(240,  "United Kingdom"),',
 '(241,  "United States"),',
 '(242,  "Upper-middle-income countries"),',
 '(243,  "Uruguay"),',
 '(244,  "Uzbekistan"),',
 '(245,  "Vanuatu"),',
 '(246,  "Venezuela"),',
 '(247,  "Vietnam"),',
 '(248,  "Western Africa (FAO)"),',
 '(249,  "Western Asia (FAO)"),',
 '(250,  "Western Europe (FAO)"),',
 '(251,  "World"),',
 '(252,  "Yemen"),',
 '(253,  "Yugoslavia"),',
 '(254,  "Zambia"),',
 '(255,  "Zimbabwe")',
 'INSERT INTO year (id, value) VALUES',
 '(1, 1961),',
 '(2, 1962),',
 '(3, 1963),',
 '(4, 1964),',
 '(5, 1965),',
 '(6, 1966),',
 '(7, 1967),',
 '(8, 1968),',
 '(9, 1969),',
 '(10, 1970),',
 '(11, 1971),',
 '(12, 1972),',
 '(13, 1973),',
 '(14, 1974),',
 '(15, 1975),',
 '(16, 1976),',
 '(17, 1977),',
 '(18, 1978),',
 '(19, 1979),',
 '(20, 1980),',
 '(21, 1981),',
 '(22, 1982),',
 '(23, 1983),',
 '(24, 1984),',
 '(25, 1985),',
 '(26, 1986),',
 '(27, 1987),',
 '(28, 1988),',
 '(29, 1989),',
 '(30, 1990),',
 '(31, 1991),',
 '(32, 1992),',
 '(33, 1993),',
 '(34, 1994),',
 '(35, 1995),',
 '(36, 1996),',
 '(37, 1997),',
 '(38, 1998),',
 '(39, 1999),',
 '(40, 2000),',
 '(41, 2001),',
 '(42, 2002),',
 '(43, 2003),',
 '(44, 2004),',
 '(45, 2005),',
 '(46, 2006),',
 '(47, 2007),',
 '(48, 2008),',
 '(49, 2009),',
 '(50, 2010),',
 '(51, 2011),',
 '(52, 2012),',
 '(53, 2013),',
 '(54, 2014),',
 '(55, 2015),',
 '(56, 2016),',
 '(57, 2017),',
 '(58, 2018),',
 '(59, 2019),',
 '(60, 2020),',
 '(61, 2021),',
 '(62, 2022),',
 '(63, 1850),',
 '(64, 1911),',
 '(65, 1934),',
 '(66, 1950),',
 '(67, 1275),',
 '(68, 1305),',
 '(69, 1355),',
 '(70, 1405),',
 '(71, 1455),',
 '(72, 1505),',
 '(73, 1555),',
 '(74, 1605),',
 '(75, 1655),',
 '(76, 1705),',
 '(77, 1755),',
 '(78, 1805),',
 '(79, 1855),',
 '(80, 1865),',
 '(81, 1887),',
 '(82, 1912),',
 '(83, 1932),',
 '(84, 1944),',
 '(85, 1866),',
 '(86, 1867),',
 '(87, 1868),',
 '(88, 1869),',
 '(89, 1870),',
 '(90, 1871),',
 '(91, 1872),',
 '(92, 1873),',
 '(93, 1874),',
 '(94, 1875),',
 '(95, 1876),',
 '(96, 1877),',
 '(97, 1878),',
 '(98, 1879),',
 '(99, 1880),',
 '(100, 1881),',
 '(101, 1882),',
 '(102, 1883),',
 '(103, 1884),',
 '(104, 1885),',
 '(105, 1886),',
 '(106, 1888),',
 '(107, 1889),',
 '(108, 1890),',
 '(109, 1891),',
 '(110, 1892),',
 '(111, 1893),',
 '(112, 1894),',
 '(113, 1895),',
 '(114, 1896),',
 '(115, 1897),',
 '(116, 1898),',
 '(117, 1899),',
 '(118, 1900),',
 '(119, 1901),',
 '(120, 1902),',
 '(121, 1903),',
 '(122, 1904),',
 '(123, 1905),',
 '(124, 1906),',
 '(125, 1907),',
 '(126, 1908),',
 '(127, 1909),',
 '(128, 1910),',
 '(129, 1913),',
 '(130, 1914),',
 '(131, 1915),',
 '(132, 1916),',
 '(133, 1917),',
 '(134, 1918),',
 '(135, 1919),',
 '(136, 1920),',
 '(137, 1921),',
 '(138, 1922),',
 '(139, 1923),',
 '(140, 1924),',
 '(141, 1925),',
 '(142, 1926),',
 '(143, 1927),',
 '(144, 1928),',
 '(145, 1929),',
 '(146, 1930),',
 '(147, 1931),',
 '(148, 1933),',
 '(149, 1935),',
 '(150, 1936),',
 '(151, 1937),',
 '(152, 1938),',
 '(153, 1939),',
 '(154, 1940),',
 '(155, 1941),',
 '(156, 1942),',
 '(157, 1943),',
 '(158, 1945),',
 '(159, 1946),',
 '(160, 1947),',
 '(161, 1948),',
 '(162, 1949),',
 '(163, 1951),',
 '(164, 1952),',
 '(165, 1953),',
 '(166, 1954),',
 '(167, 1955),',
 '(168, 1956),',
 '(169, 1957),',
 '(170, 1958),',
 '(171, 1959),',
 '(172, 1960),',
 '(173, 2023)',
 'INSERT INTO crop (id, name)',
 '(1, "almond"),',
 '(1,  "almond"),',
 '(2, "apples"),',
 '(2,  "apples"),',
 '(3, "apricots"),',
 '(3,  "apricots"),',
 '(4, "areca_nuts"),',
 '(4,  "areca_nuts"),',
 '(5, "artichokes"),',
 '(5,  "artichokes"),',
 '(6, "asparagus"),',
 '(6,  "asparagus"),',
 '(7, "avocados"),',
 '(7,  "avocados"),',
 '(8, "bambara_beans__dry"),',
 '(8,  "bambara_beans__dry"),',
 '(9, "banana"),',
 '(9,  "banana"),',
 '(10, "barley"),',
 '(10,  "barley"),',
 '(11, "bean"),',
 '(11,  "bean"),',
 '(12, "beans__green"),',
 '(12,  "beans__green"),',
 '(13, "blueberries"),',
 '(13,  "blueberries"),',
 '(14, "broad_beans_and_horse_beans__green"),',
 '(14,  "broad_beans_and_horse_beans__green"),',
 '(15, "broad_beans"),',
 '(15,  "broad_beans"),',
 '(16, "buckwheat"),',
 '(16,  "buckwheat"),',
 '(17, "cabbages"),',
 '(17,  "cabbages"),',
 '(18, "canary_seed"),',
 '(18,  "canary_seed"),',
 '(19, "carrots_and_turnips"),',
 '(19,  "carrots_and_turnips"),',
 '(20, "cashew_nuts"),',
 '(20,  "cashew_nuts"),',
 '(21, "cashewapple"),',
 '(21,  "cashewapple"),',
 '(22, "cassava_leaves"),',
 '(22,  "cassava_leaves"),',
 '(23, "cassava"),',
 '(23,  "cassava"),',
 '(24, "castor_oil_seed"),',
 '(24,  "castor_oil_seed"),',
 '(25, "cauliflowers_and_broccoli"),',
 '(25,  "cauliflowers_and_broccoli"),',
 '(26, "cereal"),',
 '(26,  "cereal"),',
 '(27, "cherries"),',
 '(27,  "cherries"),',
 '(28, "chestnut"),',
 '(28,  "chestnut"),',
 '(29, "chickpeas"),',
 '(29,  "chickpeas"),',
 '(30, "chicory_roots"),',
 '(30,  "chicory_roots"),',
 '(31, "chillies_and_peppers__green__capsicum_spp__and_pimenta_spp"),',
 '(31,  "chillies_and_peppers__green__capsicum_spp__and_pimenta_spp"),',
 '(32, "chillies_and_peppers"),',
 '(32,  "chillies_and_peppers"),',
 '(33, "citrus_fruit"),',
 '(33,  "citrus_fruit"),',
 '(34, "cocoa"),',
 '(34,  "cocoa"),',
 '(35, "coconuts"),',
 '(35,  "coconuts"),',
 '(36, "coffee"),',
 '(36,  "coffee"),',
 '(37, "cow_peas"),',
 '(37,  "cow_peas"),',
 '(38, "cranberries"),',
 '(38,  "cranberries"),',
 '(39, "cucumbers_and_gherkins"),',
 '(39,  "cucumbers_and_gherkins"),',
 '(40, "currants"),',
 '(40,  "currants"),',
 '(41, "dates"),',
 '(41,  "dates"),',
 '(42, "eggplants"),',
 '(42,  "eggplants"),',
 '(43, "fibre_crops__fibre_equivalent"),',
 '(43,  "fibre_crops__fibre_equivalent"),',
 '(44, "fibre_crops"),',
 '(44,  "fibre_crops"),',
 '(45, "figs"),',
 '(45,  "figs"),',
 '(46, "flax__raw_or_retted"),',
 '(46,  "flax__raw_or_retted"),',
 '(47, "fonio"),',
 '(47,  "fonio"),',
 '(48, "fruit"),',
 '(48,  "fruit"),',
 '(49, "garlic"),',
 '(49,  "garlic"),',
 '(50, "gooseberries"),',
 '(50,  "gooseberries"),',
 '(51, "grapefruit"),',
 '(51,  "grapefruit"),',
 '(52, "grapes"),',
 '(52,  "grapes"),',
 '(53, "green_maize"),',
 '(53,  "green_maize"),',
 '(54, "groundnut"),',
 '(54,  "groundnut"),',
 '(55, "hazelnuts"),',
 '(55,  "hazelnuts"),',
 '(56, "hempseed"),',
 '(56,  "hempseed"),',
 '(57, "herbs__e_g__fennel"),',
 '(57,  "herbs__e_g__fennel"),',
 '(58, "hop_cones"),',
 '(58,  "hop_cones"),',
 '(59, "jojoba_seeds"),',
 '(59,  "jojoba_seeds"),',
 '(60, "jute"),',
 '(60,  "jute"),',
 '(61, "kapok_fruit"),',
 '(61,  "kapok_fruit"),',
 '(62, "karite_nuts"),',
 '(62,  "karite_nuts"),',
 '(63, "kenaf__and_other_textile_bast_fibres__raw_or_retted"),',
 '(63,  "kenaf__and_other_textile_bast_fibres__raw_or_retted"),',
 '(64, "kiwi"),',
 '(64,  "kiwi"),',
 '(65, "kola_nuts"),',
 '(65,  "kola_nuts"),',
 '(66, "leeks"),',
 '(66,  "leeks"),',
 '(67, "lemons_and_limes"),',
 '(67,  "lemons_and_limes"),',
 '(68, "lentils"),',
 '(68,  "lentils"),',
 '(69, "lettuce"),',
 '(69,  "lettuce"),',
 '(70, "linseed"),',
 '(70,  "linseed"),',
 '(71, "locust_beans__carobs"),',
 '(71,  "locust_beans__carobs"),',
 '(72, "lupins"),',
 '(72,  "lupins"),',
 '(73, "maize"),',
 '(73,  "maize"),',
 '(74, "mangoes"),',
 '(74,  "mangoes"),',
 '(75, "mate_leaves"),',
 '(75,  "mate_leaves"),',
 '(76, "melon"),',
 '(76,  "melon"),',
 '(77, "melonseed"),',
 '(77,  "melonseed"),',
 '(78, "millet"),',
 '(78,  "millet"),',
 '(79, "mixed_grains"),',
 '(79,  "mixed_grains"),',
 '(80, "mustard_seed"),',
 '(80,  "mustard_seed"),',
 '(81, "natural_rubber_in_primary_forms"),',
 '(81,  "natural_rubber_in_primary_forms"),',
 '(82, "oats"),',
 '(82,  "oats"),',
 '(83, "oilcrops__cake_equivalent"),',
 '(83,  "oilcrops__cake_equivalent"),',
 '(84, "oilcrops__oil_equivalent"),',
 '(84,  "oilcrops__oil_equivalent"),',
 '(85, "okra"),',
 '(85,  "okra"),',
 '(86, "olives"),',
 '(86,  "olives"),',
 '(87, "onions_and_shallots__green"),',
 '(87,  "onions_and_shallots__green"),',
 '(88, "onions"),',
 '(88,  "onions"),',
 '(89, "orange"),',
 '(89,  "orange"),',
 '(90, "other_pome_fruits"),',
 '(90,  "other_pome_fruits"),',
 '(91, "other_stone_fruits"),',
 '(91,  "other_stone_fruits"),',
 '(92, "oilpalm"),',
 '(92,  "oilpalm"),',
 '(93, "papayas"),',
 '(93,  "papayas"),',
 '(94, "peaches_and_nectarines"),',
 '(94,  "peaches_and_nectarines"),',
 '(95, "pears"),',
 '(95,  "pears"),',
 '(96, "pea"),',
 '(96,  "pea"),',
 '(97, "peas__green"),',
 '(97,  "peas__green"),',
 '(98, "pepper"),',
 '(98,  "pepper"),',
 '(99, "peppermint__spearmint"),',
 '(99,  "peppermint__spearmint"),',
 '(100, "persimmons"),',
 '(100,  "persimmons"),',
 '(101, "pigeon_peas"),',
 '(101,  "pigeon_peas"),',
 '(102, "pineapples"),',
 '(102,  "pineapples"),',
 '(103, "pistachios"),',
 '(103,  "pistachios"),',
 '(104, "plantains"),',
 '(104,  "plantains"),',
 '(105, "plums"),',
 '(105,  "plums"),',
 '(106, "poppy_seeds"),',
 '(106,  "poppy_seeds"),',
 '(107, "potato"),',
 '(107,  "potato"),',
 '(108, "pulses"),',
 '(108,  "pulses"),',
 '(109, "pumpkins__squash_and_gourds"),',
 '(109,  "pumpkins__squash_and_gourds"),',
 '(110, "pyrethrum__dried_flowers"),',
 '(110,  "pyrethrum__dried_flowers"),',
 '(111, "quinces"),',
 '(111,  "quinces"),',
 '(112, "quinoa"),',
 '(112,  "quinoa"),',
 '(113, "ramie__raw_or_retted"),',
 '(113,  "ramie__raw_or_retted"),',
 '(114, "rapeseed"),',
 '(114,  "rapeseed"),',
 '(115, "raspberries"),',
 '(115,  "raspberries"),',
 '(116, "rice"),',
 '(116,  "rice"),',
 '(117, "roots_and_tubers"),',
 '(117,  "roots_and_tubers"),',
 '(118, "rye"),',
 '(118,  "rye"),',
 '(119, "safflower_seed"),',
 '(119,  "safflower_seed"),',
 '(120, "cotton"),',
 '(120,  "cotton"),',
 '(121, "sesame_seed"),',
 '(121,  "sesame_seed"),',
 '(122, "sorghum"),',
 '(122,  "sorghum"),',
 '(123, "sour_cherries"),',
 '(123,  "sour_cherries"),',
 '(124, "soybean"),',
 '(124,  "soybean"),',
 '(125, "spinach"),',
 '(125,  "spinach"),',
 '(126, "strawberries"),',
 '(126,  "strawberries"),',
 '(127, "string_beans"),',
 '(127,  "string_beans"),',
 '(128, "sugarbeet"),',
 '(128,  "sugarbeet"),',
 '(129, "sugarcane"),',
 '(129,  "sugarcane"),',
 '(130, "sugar_crops"),',
 '(130,  "sugar_crops"),',
 '(131, "sunflower"),',
 '(131,  "sunflower"),',
 '(132, "sweet_potatoes"),',
 '(132,  "sweet_potatoes"),',
 '(133, "tallowtree_seeds"),',
 '(133,  "tallowtree_seeds"),',
 '(134, "tangerines"),',
 '(134,  "tangerines"),',
 '(135, "taro"),',
 '(135,  "taro"),',
 '(136, "tea"),',
 '(136,  "tea"),',
 '(137, "tobacco"),',
 '(137,  "tobacco"),',
 '(138, "tomato"),',
 '(138,  "tomato"),',
 '(139, "treenuts"),',
 '(139,  "treenuts"),',
 '(140, "triticale"),',
 '(140,  "triticale"),',
 '(141, "true_hemp__raw_or_retted"),',
 '(141,  "true_hemp__raw_or_retted"),',
 '(142, "tung_nuts"),',
 '(142,  "tung_nuts"),',
 '(143, "vegetables"),',
 '(143,  "vegetables"),',
 '(144, "vetches"),',
 '(144,  "vetches"),',
 '(145, "walnuts"),',
 '(145,  "walnuts"),',
 '(146, "watermelons"),',
 '(146,  "watermelons"),',
 '(147, "wheat"),',
 '(147,  "wheat"),',
 '(148, "yams"),',
 '(148,  "yams"),',
 '(149, "yautia"),',
 '(149,  "yautia")',
 ';']

# Write inserts to .sql file

In [51]:
with open('postgres/data.sql', 'w', encoding="utf-8") as f:
    for line in sql_statements:
        f.write(line + "\n")